{% macro contactBase(name, phone, id) -%}
<form
	method="POST"
	action="{{ url_for('delete_action') }}">
	<button class="button-38 list">
		<div class="contact-base">
			<div class="contact-text">
				<p class="content name">{{name}}</p>
				<p class="content phone">Phone: {{phone}}</p>
			</div>
			<div class="delete-svg">
				<img
					src="{{ url_for('static', filename='images/trashcan.svg') }}"
					class="trashcan-svg" />
			</div>
		</div>
	</button>
	<input
		type="hidden"
		id="_id"
		name="_id"
		value="{{id}}" />
</form>
{% endmacro %} {% extends 'index.html' %} {% block container %} {% block a %}{% endblock %}

<div>
	{% for contact in contacts %}
	<div class="contactWidget">{{ contactBase(contact.name, contact.phone, contact._id) }}</div>
	{% endfor %}
</div>
{% endblock %}
