{% extends 'index.html' %} {% block container %}
<!-- =====================BODY (NAME, PHONE, ...)===================== -->
<button id="edit" class="button-38" role="button">
  <a href="{{url_for('edit_view')}}">Edit</a>
</button>

<div class="info">
  <div class="content name">{{contact.name}}</div>

  <div class="content phone">
    <div>phone:</div>
    <div pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">{{contact.phone}}</div>
  </div>

  <div class="content email">
    <div>email:</div>
    <div class="data">{{contact.email}}</div>
  </div>

  <div class="content address">
    <div>address:</div>
    <p class="iv_p">{{contact.address}}</p>
  </div>
  <div class="content notes">
    NOTES GO HERE
    <p class="iv_p">{{contact.notes}}</p>
  </div>
</div>
{% endblock %}
