{% extends 'index.html' %} {% block container %}
<!-- =====================BODY (NAME, PHONE, ...)===================== -->
<button id="edit" class="button-38" role="button"></button>
<link rel="stylesheet" href="./edit.html" />Edit

<div class="info">
  <div class="content name">Johnny Appleseed</div>

  <div class="content phone">
    <div>phone:</div>
    <div>000-000-0000</div>
  </div>

  <div class="content email">
    <div>email:</div>
    <div class="data">example@email.com</div>
  </div>

  <div class="content address">
    <p class="iv_p">
      70 Washington Sq <br />
      New York NY 100012<br />United States
    </p>
    <p class="iv_p"></p>
    <p class="iv_p">
      70 Washington Sq <br />
      New York NY 100012<br />United States
    </p>
  </div>
  <div class="content notes">
    NOTES GO HERE
    <p class="iv_p">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quam
      laboriosam a ea exercitationem, non aut iste culpa, assumenda beatae rem
      dolores facilis fugit labore eaque optio adipisci earum magnam.
    </p>
  </div>
</div>
{% endblock %}
